body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

.contact-header {
  text-align: left;
  margin-bottom: 20px;
}

.contact-header h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #555;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.contact-form {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
}

.contact-form textarea {
  resize: none;
  height: 120px;
}

.submit-button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #444;
}

.service-info {
  flex: 0.5;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0 , 0, 0.1);
}

.service-info img {
  max-width: 450px;
  margin-bottom: 15px;
}

.service-info h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #555;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e272e; /* Dark navy for a magical feel */
  height: 150px;
  color: #f1c40f; /* Gold text */
}

.footermenu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.footermenu ul li {
  text-decoration: none;
  list-style: none;
}

.footermenu ul li a {
  text-decoration: none;
  margin: 20px;
  font-size: medium;
  padding: 10px;
  margin-top: 20px;
  color: #f1c40f; /* Gold text */
}

.footericons ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footericons ul li img {
  height: 20px;
  margin: 0px 20px;
}